@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dave White Simple Heart App</h1>
    <p>Hello, @Model.UserLoggedInName</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
