@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a demonstration app.  The data is accessible to the author of the app but is not shared anywhere else.  Do not put real private information into this app since it is only a demo.</p>
